.node:
  image: node:22.14.0
  before_script:
    - npm install -g corepack
    - yarn install  --immutable

node-lint:
  extends: .node
  stage: test
  script:
    - yarn add eslint-formatter-gitlab
    - yarn lint:prettier:fix
    - ESLINT_CODE_QUALITY_REPORT=reports/node-lint.gitlab.json yarn lint:eslint:fix --format=gitlab
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - reports/node-lint.*
    reports:
      codequality:
        - reports/node-lint.gitlab.json

node-audit:
  extends: .node
  stage: test
  script:
    - yarn npm audit --json > reports/node-audit.json || true
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - reports/node-audit.json

node-test:
  extends: .node
  stage: test
  script:
    - yarn coverage
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: "reports/cobertura-coverage.xml"
      junit:
        - reports/junit.xml
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - reports/cobertura-coverage.xml
      - reports/junit.xml

node-sbom:
  extends: .node
  stage: build
  script:
    - npx -y @cyclonedx/cyclonedx-npm --output-format JSON --output-file reports/node-sbom.cyclonedx.json
  artifacts:
    name: "SBOM for Node from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    when: always
    expire_in: 1 week
    paths:
      - reports/node-sbom.cyclonedx.json
    reports:
      cyclonedx:
        - reports/node-sbom.cyclonedx.json

node-deploy:
  extends: .node
  stage: deploy
  script:
    - yarn npm publish --non-interactive
  rules:
    - if: $CI_COMMIT_TAG
