include:
  - template: Jobs/SAST.gitlab-ci.yml
  - component: $CI_SERVER_FQDN/open-resources/cicd-components/devcontainers/devcontainers@1.1.1
  - component: $CI_SERVER_FQDN/open-resources/cicd-components/semantic-release/semantic-release@1.0.3
  - component: $CI_SERVER_FQDN/open-resources/cicd-components/yarn/yarn@1.0.3
