.node:
  image: node:24.11.0
  before_script:
    - npm install -g corepack
    - yarn install  --immutable

include:
  - template: Jobs/SAST.gitlab-ci.yml
  - component: $CI_SERVER_FQDN/open-resources/cicd-components/devcontainers/devcontainers@1.0.1
  - component: $CI_SERVER_FQDN/open-resources/cicd-components/semantic-release/semantic-release@1.0.2


node-lint:
  extends: .node
  stage: test
  script:
    - yarn add eslint-formatter-gitlab
    - yarn lint:prettier
    - ESLINT_CODE_QUALITY_REPORT=report/node-lint.gitlab.json yarn lint:eslint --format=gitlab
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/node-lint.*
    reports:
      codequality:
        - report/node-lint.gitlab.json
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "beta"

node-audit:
  extends: .node
  stage: test
  script:
    - yarn npm audit --json > report/node-audit.json || true
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/node-audit.json
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "beta"

node-test:
  extends: .node
  stage: test
  script:
    - yarn coverage
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: report/cobertura-coverage.xml
      junit:
        - report/junit.xml
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/cobertura-coverage.xml
      - report/junit.xml
  coverage: /Statements\s*:\s*([^%]+)/
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "beta"
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

node-sbom:
  extends: .node
  stage: build
  script:
    - npx -y @cyclonedx/cyclonedx-npm --output-format JSON --output-file report/node-sbom.cyclonedx.json
  artifacts:
    name: "SBOM for Node from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    when: always
    expire_in: 1 week
    paths:
      - report/node-sbom.cyclonedx.json
    reports:
      cyclonedx:
        - report/node-sbom.cyclonedx.json
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "beta"
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
