.node:
  image: node:22.14.0
  before_script:
    - npm install -g corepack
    - yarn install  --immutable

node-lint:
  extends: .node
  stage: test
  script:
    - yarn add eslint-formatter-gitlab
    - yarn lint:prettier:fix
    - ESLINT_CODE_QUALITY_REPORT=report/node-lint.gitlab.json yarn lint:eslint:fix --format=gitlab
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/node-lint.*
    reports:
      codequality:
        - report/node-lint.gitlab.json

node-audit:
  extends: .node
  stage: test
  script:
    - yarn npm audit --json > report/node-audit.json || true
  artifacts:
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/node-audit.json

node-test:
  extends: .node
  stage: test
  script:
    - yarn coverage
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: report/cobertura-coverage.xml
      junit:
        - report/junit.xml
    when: always
    name: "$CI_JOB_NAME artifacts from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    expire_in: 1 day
    paths:
      - report/cobertura-coverage.xml
      - report/junit.xml
  coverage: /Statements\s*:\s*([^%]+)/

node-sbom:
  extends: .node
  stage: build
  script:
    - npx -y @cyclonedx/cyclonedx-npm --output-format JSON --output-file report/node-sbom.cyclonedx.json
  artifacts:
    name: "SBOM for Node from $CI_PROJECT_NAME on $CI_COMMIT_REF_SLUG"
    when: always
    expire_in: 1 week
    paths:
      - report/node-sbom.cyclonedx.json
    reports:
      cyclonedx:
        - report/node-sbom.cyclonedx.json


node-deploy:
  extends: .node
  stage: deploy
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
    - npm install -g semantic-release conventional-changelog-conventionalcommits @semantic-release/gitlab @semantic-release/changelog @semantic-release/git
  script:
    - semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "beta"
